table {  
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 1080px; 
    border-collapse: 
    collapse; border-spacing: 0; 
}

td, th {  
    border: 2px solid; /* No more visible border */
    height: 30px; 
    transition: all 0.3s;  /* Simple transition for hover effect */
}

th {  
    background: #45B39D;  /* Darken header a bit */
    font-weight: bold;
}

td {  
    background: #FAFAFA;
    text-align: left;
}

/* Cells in even rows (2,4,6...) are one color */        
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
tr:nth-child(odd) td { background: #85C1E9; }  

tr td:hover { background: #666; color: #FFF; }  
/* Hover cell effect! */